@import "styles/colors";
@import "styles/breakpoints";
@import "styles/typography";
@import "styles/spacing";
@import "styles/buttons";
@import "styles/utilities";
@import "styles/inputs";
body {
  margin: 0;
  overflow-x: hidden;
  min-width: $mobile;
  max-width: $desktop;
  font-family: $font-family;
  display: flex;
  margin: auto;
}

app-root {
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.19);
}

.checkout-button {
  margin-top: 1rem;
  width: 100%;
}
